body {
  background-color: #fdf2f8;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #33d1d6;
  text-align: center;
}

.main-content {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
